{% extends "base.html" %}
{% block page_content%}
<div class="jumbotron">
    <div class="container">
        <h1>Chinese Word Segmentation System</h1>
        <h1><small>Alpha 1.0</small></h1>
        <p>Developed by Keith (Wu Zhengke).</p>
        <p>A project of Introduction To Computer Science in Dec. 2017.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/keithnull" role="button">
            Contact me on Github</a>
            <a class="btn btn-success btn-lg" href="https://github.com/keithnull/ChineseWordSegmentationSystem" role="button">
            Fork this project on Github</a>
        </p>
    </div>
</div>

{% endblock %}
