{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content%}

<h1>Welcome to use Chinese Word Segmentation System.<small>Alpha 1.0</small></h1>
<br/><br/>
<ul class="nav nav-tabs">
  <li{% if not by_file %} class="active"{% endif %}><a href="{{url_for('index')}}">Enter text</a></li>
  <li{% if by_file %} class="active"{% endif %}><a href="{{url_for('index',by_file='1')}}">Upload file</a></li>
</ul>
<br/>
{{ wtf.quick_form(input_form) }}
<br/><br/>
{{ wtf.quick_form(result_form)}}
{% if download %}
<a class="btn btn-success" href={{url_for('download')}} role="button">Download</a>
{% else %}
<a class="btn btn-success" href="#" role="button" disabled="disabled">Download</a>
{% endif %}
{% endblock %}
